*{
box-sizing:border-box;
}


body{

font-family:Arial, sans-serif;

margin:0;

background:#f4f7fb;

color:#333;

}



header{

background:#2563eb;

color:white;

text-align:center;

padding:60px 20px;

}



h1{

font-size:38px;

}



section{

max-width:900px;

margin:30px auto;

background:white;

padding:30px;

border-radius:15px;

}



.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.cards div{

flex:1;

background:#eef2ff;

padding:20px;

border-radius:12px;

}



.botao{

display:inline-block;

background:white;

color:#2563eb;

padding:15px 25px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

margin-top:20px;

}



form{

display:flex;

flex-direction:column;

gap:15px;

}



input,select,textarea{

padding:15px;

font-size:16px;

border-radius:8px;

border:1px solid #ccc;

}



textarea{

height:120px;

}



button{

background:#2563eb;

color:white;

padding:15px;

border:none;

border-radius:10px;

font-size:16px;

}



.apoio{

text-align:center;

background:#fff7ed;

}



.apoio-btn{

background:#16a34a;

color:white;

}



footer{

text-align:center;

padding:30px;

}